<div class="container" id="listaEducacion">
  <div class="text-center mb-3 mt-2">
    <h1 class="section-title-01 text-center display-4">Skills</h1>
    <h2 class="section-title-02 text-center display-6">Skills</h2>
  </div>
  <div class="row mt-1">
    <div class="col-12 text-center p-4">
      <h2>Formación</h2>
    </div>
    <div class="col mb-2">
      <button
        type="button"
        class="btn btn-outline-inicio"
        routerLink="/educacion"
      >
        <i class="fa-solid fa-plus"></i> Nuevo
      </button>
    </div>
  </div>
  <div class="row row-cols-2 align-items-center ">
    <div class="col justify-text-center " *ngFor="let educacion of ListaEducacion">

          <div class="card mb-1">
            <div class="row g-0">
              <div class="col-3 align-self-center text-center">
                <img
                  src="{{ educacion.imagen }}"
                  class="img-fluid rounded-start"
                  alt="..."
                />
              </div>
              <div class="col-9">
                <div class="card-body">
                  <h5 class="card-title">{{ educacion.nombre }}</h5>
                  <p class="card-text">
                    <time>{{ educacion.inicio }}</time> -
                    <time>{{ educacion.fin }}</time>
                  </p>
                  <p class="card-text">
                    {{ educacion.titulo }}
                  </p>
                  <p class="card-text">
                    {{ educacion.lugar }}
                  </p>
                  <div
                    class="col-md-6 offset-md-6 col-lg-4 offset-lg-8 col-xxl-3 offset-xxl-9"
                  >
                    <button
                      class="btn btn-outline-eliminar"
                      (click)="borrar(educacion.id)"
                    >
                      <i class="fa-solid fa-trash-can"></i> Eliminar
                    </button>
                    <button
                      class="btn btn-outline-editar ms-2"
                      routerLink="/educacion/{{ educacion.id }}"
                    >
                      <i class="fa-solid fa-pen"></i>
                      Editar
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
</div>
