:root {
  --card-bg-color: #fff;
  --main-color-light: #6a59d1;
  --third-color: #757575;
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  --first-color: #0e2431;
}

/* =================== Boton de Editar ================= */
.btn-outline-proyecto:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
  width: 100%;
}

.btn-outline-proyecto {
  width: 100%;
  border: none;
  color: white !important;
  font-weight: 500;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}

/* =================== Boton de Borrar ================= */

.btn-outline-codigo {
  width: 100%;
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;
}
.btn-outline-codigo:hover {
  width: 100%;
  background-color: var(--main-color-light) !important;
  color: white !important;
}

/* =================== Boton de Nuevo ================= */

.btn-outline-nuevo {
  border: none;
  color: white !important;
  font-weight: 500;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}

.btn-outline-nuevo:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
}

/* ====================== Titulo ========================*/

.section-title-01 {
  font-weight: 800;

  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
  --webkit-background-clip: text !important;
  --webkit-text-fill-color: transparent !important;
  opacity: 0.1;
}

.section-title-02 {
  font-weight: 700;
  transform: translateY(-65px);
  position: relative;
}

.section-title-02::before {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 5px;
  width: 70px;
  background-color: var(--main-color-light);
}

/* =================== Boton de Borrar ================= */

.btn-outline-eliminar {
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;
}
.btn-outline-eliminar:hover {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

/* =================== Boton de Editar Imagen ================= */

.btn-outline-editar:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
}

.btn-outline-editar {
  border: none;

  color: white !important;
  font-weight: 500;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}

/* ====================== cards  ========================*/

.card {
  background-color: var(--card-bg-color);
  box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
  border-bottom: 4px solid var(--main-color-light);
  border-radius: 6px;
  transition: 0.3s ease;
}

p {
  color: #757575;
  font-weight: 500;
}

.titulo {
  color: #3e3d3d;
  font-size: 1.2rem;
  font-weight: 700;
}

.tecnologias {
  color: #504f4f;
  font-size: 1.1rem;
  font-weight: 600;
}

/* ====================== Media Queries  ========================*/

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .titulo {
    font-size: 1rem;
  }

  .tecnologias {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 446px){
  .section-title-01{
    font-size:3.5em;
  }
  .section-title-02{
    font-size:2.5em;
    transform: translateY(-65px);
  }

}





@media screen and (max-width: 445px) {
  .section-title-01 {
    font-size: 3em;
  }
  .section-title-02 {
    font-size: 2em;
    transform: translateY(-65px);
  }
}

@media screen and (min-width: 200px) and (max-width: 313px) {
  .section-title-01 {
    font-size: 2em !important;
  }
  .section-title-02 {
    font-size: 1.6em;
    transform: translateY(-51px);
  }
}
