/* ======================== Variables =============================== */

::root {
  --card-bg-color: #fff;
  --main-color-light: #6a59d1;
  --third-color: #757575;
  --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
  --first-color: #0e2431;
  --line-color: #d7d7d7;
}
/* ======================== Boton volver =============================== */

.btn-outline-volver {
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;
  width: 100%;
}
.btn-outline-volver:hover {
  background-color: var(--main-color-light) !important;
  color: white !important;
}

/* =================== Boton de Editar  ================= */

.btn-outline-editar:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
}

.btn-outline-editar {
  border: none;

  color: white !important;
  font-weight: 500;
  transform: translateY(-10px) !important;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}

/* ==================== imagen =============== */
.about-img {
  position: relative;
}
.about-img img {
  max-width: 100%;
  border-radius: 10px;
  max-height: 500px;
  }


/* ===================== titulos y subtitulos============== */
.about-info .description h3 {
  font-weight: 600;
}
.about-info .description h4 {
  font-weight: 600;

  color: #4b4b4b;
  padding-bottom: 18px;
}

.h {
  margin-right: auto;
  margin-left: auto;
  height: 2px;
  border: 0 none;
  background-color: #d7d7d7;
  width: 70%;
  text-align: center;
}

.about-info .description p {
  font-weight: 600;
  color: #757575 !important;
}
/* ====================== Titulo Section ========================*/

.section-title-01 {
  font-weight: 800;

  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, var(--first-color) 70%);
  --webkit-background-clip: text !important;
  --webkit-text-fill-color: transparent !important;
  opacity: 0.1;
}

.section-title-02 {
  font-weight: 700;
  transform: translateY(-70px);
  position: relative;
}

.section-title-02::before {
  content: " ";

  position: absolute;
  bottom: 0;
  height: 5px;
  width: 70px;
  background-color: var(--main-color-light);
}
/* ====================== End Titulo ========================*/
/* ====================== Media query ========================*/

@media screen and (min-width: 1200px) {
  .about-info .description h3 {
    font-size: 2em;
  }
  .about-info .description h4 {
    font-size: 1.3em;
  }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
  p {
    font-size: 0.8em !important;
  }
}

@media screen and (min-width: 731px) and (max-width: 991px) {
  p {
    text-align: justify;

  }
}

@media screen and (max-width: 730px) {
  .section-title-01 {
    font-size: 3em;
  }
  .section-title-02 {
    font-size: 2em;
    transform: translateY(-65px);
  }

  p {
    font-size: 0.9em !important;
    text-align: justify;
  }
}

@media screen and (max-width: 445px) {
  .section-title-01 {
    font-size: 3em;
  }
  .section-title-02 {
    font-size: 2em;
    transform: translateY(-65px);
  }

  .titulo {
    font-size: 0.9em !important;
  }

  .about-info .description h3 {
    font-size: 1.4em;
  }
  .about-info .description h4 {
    font-size: 1.1em;

  }
  p{
    text-align: justify;
  }
}
