<app-header></app-header>
<section id="login" ></section>
<div class="container-fluid background"></div>
<div class="container d-flex justify-content-center mt-5">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/login">Iniciar Sesión</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/registro">Crear Cuenta</a>
        </li> -->
      </ul>
    </div>
    <div class="card-body px-4 py-4">
      <form #f="ngForm" (ngSubmit)="f.form.valid && onLogin()" novalidate>
        <div class="form-group">
          <label for="nombreUsuario">Nombre de Usuario</label>
          <input
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            class="form-control"
            [(ngModel)]="nombreUsuario"
            required
            #nombreUsuarioInput="ngModel"
            [ngClass]="{
              'is-invalid':
                nombreUsuarioInput.touched ||
                (f.submitted && nombreUsuarioInput.invalid)
            }"
            [ngClass]="{
              'is-valid':
                nombreUsuarioInput.touched && nombreUsuarioInput.valid
            }"
          />
          <div class="invalid-feedback">Este campo es requerido.</div>

        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required

            #nombreUsuarioInput="ngModel"
            [ngClass]="{
              'is-invalid':
                nombreUsuarioInput.touched ||
                (f.submitted && nombreUsuarioInput.invalid)
            }"
            [ngClass]="{
              'is-valid':
                nombreUsuarioInput.touched && nombreUsuarioInput.valid
            }"

          />
          <div class="invalid-feedback">Este campo es requerido.</div>

        </div>
        <div class="form-group mt-3 d-grid gap-2 d-md-flex justify-content-md-center">
          <button
          class="btn btn-primary me-md-2"
          type="button"
          class="btn btn-outline-volver"
          routerLink="/"
        >
          <i class="fa-solid fa-angle-left"></i> Volver
        </button>
          <button
            class="btn btn-outline-ingresar btn-block"
          >
            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

