/* =================== Boton de crear cuenta ================= */
.btn-outline-crearCuenta:hover {
  box-shadow: inset 500px 0 0 0 rgb(203, 114, 194) !important;
}

.btn-outline-crearCuenta {
  border: none;

  color: white !important;
  font-weight: 500;
  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );
}

/* ============= Background ================ */

.background {
  min-height: 92vh;
  background-color: #e5e5f7;
  opacity: 0.5;
  background-image: radial-gradient(#6a59d1 0.75px, transparent 0.75px),
    radial-gradient(#6a59d1 0.75px, #e5e5f7 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
  z-index: -1;
  position: absolute;
}

#registroLogin {
  position: relative;


}

#registroLogin .container-fluid,
#registroLogin .row {
  height: 100%;
}

/* ============= parte activa ================ */

a {
  color: #6a59d1;
  font-weight: 500;

}

/* ============= boton volver ================ */

.btn-outline-volver {
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;

}
.btn-outline-volver:hover {
  background-color: var(--main-color-light) !important;
  color: white !important;
}
