
/* Boton crear */

.btn-outline-success{
  border: none;
  color: white !important;
  font-weight: 500;

  box-shadow: inset 0 0 0 0 rgb(203, 114, 194) !important;
  transition: ease-out 0.5s;
  background: rgb(203, 114, 194);
  background: linear-gradient(
    53deg,
    rgba(203, 114, 194, 1) 0%,
    rgba(143, 116, 212, 1) 56%,
    rgba(106, 89, 209, 1) 100%
  );

}

.btn-outline-success:hover {
  box-shadow: inset 300px 0 0 0 rgb(203, 114, 194) !important;
}


/* Boton volver */

.btn-outline-volver{
  border-color: var(--main-color-light) !important;
  color: var(--main-color-light) !important;
  font-weight: 500 !important;
}
.btn-outline-volver:hover {
  background-color: var(--main-color-light) !important;
  color: white !important;
}
