<app-header></app-header>
<div id="nuevo-experiencian">
  <div class="container-fluid background"></div>
  <div class="container">
    <div class="row pt-4 pb-5">
      <div class="col-10 col-md-7 col-lg-5 mx-auto form p-4 mb-5">
        <form
          name="formExperiencia "
          (ngSubmit)="f.form.valid && onCreate()"
          novalidate
          #f="ngForm"
        >
          <div class="row mt-1">
            <div class="align-self-center mb-3 mt-2">
              <h1 class="title h4">Nueva lista de experiencia</h1>
            </div>
          </div>
          <div class="form-group mb-3 mt-2">
            <label class="mb-2" for="tituloTrab"
              >Nombre del establecimiento</label
            >
            <input
              placeholder="IPES Florentino Ameghino"
              type="text"
              class="form-control"
              id="tituloTrab"
              name="tituloTrab"
              [(ngModel)]="tituloTrab"
              required
              #tituloTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                tituloTrabInput.touched || (f.submitted && tituloTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid': tituloTrabInput.touched && tituloTrabInput.valid
              }"
            />
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <div class="form-group mb-4">
                <label class="mb-2" for="inicioTrab">Año de inicio</label>
                <input
                  placeholder="2017"
                  type="number"
                  class="form-control"
                  id="inicioTrab"
                  name="inicioTrab"
                  [(ngModel)]="inicioTrab"
                  required
                  #inicioTrabEduInput="ngModel"
                  [ngClass]="{
                    'is-invalid':
                    inicioTrabEduInput.touched ||
                      (f.submitted && inicioTrabEduInput.invalid)
                  }"
                  [ngClass]="{
                    'is-valid': inicioTrabEduInput.touched && inicioTrabEduInput.valid
                  }"
                />
                <div class="invalid-feedback">Este campo es requerido.</div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
              <div class="form-group mb-4">
                <label class="mb-2" for="finTrab">Año de finalización </label>
                <input
                  placeholder="2022"
                  type="number"
                  class="form-control"
                  id="finTrab"
                  name="finTrab"
                  [(ngModel)]="finTrab"
                  required
                  #finTrabInput="ngModel"
                  [ngClass]="{
                    'is-invalid':
                    finTrabInput.touched ||
                      (f.submitted && finTrabInput.invalid)
                  }"
                  [ngClass]="{
                    'is-valid': finTrabInput.touched && finTrabInput.valid
                  }"
                />
                <div class="invalid-feedback">Este campo es requerido.</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4">
            <label class="mb-2" for="descripcionTrab">Descripción del empleo</label>
            <input
              placeholder="Profesora de Inglés"
              type="text"
              class="form-control"
              id="descripcionTrab"
              name="descripcionTrab"
              [(ngModel)]="descripcionTrab"
              required
              #descripcionTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                descripcionTrabInput.touched ||
                  (f.submitted && descripcionTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid': descripcionTrabInput.touched && descripcionTrabInput.valid
              }"
            />
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>
          <div class="form-group mb-4">
            <label class="mb-2" for="direccionTrab">Dirección del establecimiento (Opcional)</label>
            <input
              placeholder="Profesora de Inglés"
              type="text"
              class="form-control"
              id="direccionTrab"
              name="direccionTrab"
              [(ngModel)]="urlTrab"

              #direccionTrabInput="ngModel"

            />

          </div>

          <div class="form-group mb-4">
            <label class="mb-2" for="urlTrab">Url de la imagen</label>
            <input
              placeholder="https://ibb.co/qCMkTyp"
              type="text"
              class="form-control"
              id="urlTrab"
              name="urlTrab"
              [(ngModel)]="direccionTrab"
              required
              #urlTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                urlTrabInput.touched ||
                  (f.submitted && urlTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid': urlTrabInput.touched && urlTrabInput.valid
              }"
            />
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>

          <div class="row justify-content-center align-items-center mb-3 pt-3">
            <div class="col-6">
              <a href="#experiencia" class="btn btn-outline-volver col-6">
                <i class="fa-solid fa-angle-left"></i> Volver</a
              >
            </div>
            <div class="col-6">
              <button class="btn btn-outline-success col-6 pt-2">
                <i class="fa-solid fa-plus"></i> Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

