<app-header></app-header>
<div id="nuevo-experiencia">
  <div class="container-fluid background"></div>
  <div class="container">
    <div class="row pt-4 pb-5">
      <div class="col-10 col-md-7 col-lg-5 mx-auto form p-4 mb-5">
        <form
          name="form"
          (ngSubmit)="f.form.valid && onCreate()"
          novalidate
          #f="ngForm"
        >
          <div class="row mt-1">
            <div class="align-self-center mb-3 mt-2">
              <h1 class="h4 title">Nueva lista de experiencia</h1>
            </div>
          </div>
          <div class="form-group mb-3 mt-2">
            <label class="mb-2" for="tituloExp"
              >Nombre de la establecimiento</label
            >
            <input
              placeholder="IPES Florentino Ameghino"
              type="text"
              class="form-control"
              id="tituloTrab"
              name="tituloTrab"
              [(ngModel)]="tituloTrab"
              required
              #tituloTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                  tituloTrabInput.touched ||
                  (f.submitted && tituloTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid': tituloTrabInput.touched && tituloTrabInput.valid
              }"
            />
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>
          <div class="row">
            <div class="col col-12 col-sm-6">
              <div class="form-group mb-4">
                <label class="mb-2" for="inicioTrab">Año de inicio</label>
                <input
                  placeholder="2018"
                  type="number"
                  class="form-control"
                  id="inicioTrab"
                  name="inicioTrab"
                  [(ngModel)]="inicioTrab"
                  required
                  #inicioTrabInput="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      inicioTrabInput.touched ||
                      (f.submitted && inicioTrabInput.invalid)
                  }"
                  [ngClass]="{
                    'is-valid': inicioTrabInput.touched && inicioTrabInput.valid
                  }"
                />
                <div class="invalid-feedback">Este campo es requerido.</div>
              </div>
            </div>
            <div class="col col-12 col-sm-6">
              <div class="form-group mb-4">
                <label class="mb-2" for="finTrab">Año de finalización</label>
                <input
                  placeholder="2022"
                  type="number"
                  class="form-control"
                  id="finTrab"
                  name="finTrab"
                  [(ngModel)]="finTrab"
                  required
                  #finTrabInput="ngModel"
                  [ngClass]="{
                    'is-invalid':
                      finTrabInput.touched ||
                      (f.submitted && finTrabInput.invalid)
                  }"
                  [ngClass]="{
                    'is-valid': finTrabInput.touched && finTrabInput.valid
                  }"
                />
                <div class="invalid-feedback">Este campo es requerido.</div>
              </div>
            </div>
          </div>

          <div class="form-group mb-4">
            <label class="mb-2" for="descripcionExp"
              >Descripción del empleo</label
            >
            <textarea
              placeholder="Clases de apoyo de inglés."
              type="text"
              class="form-control descripcionTrab"
              name="descripcionTrab"
              id="descripcionTrab"
              cols="30"
              rows="4"
              [(ngModel)]="descripcionTrab"
              required
              #descripcionTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                  descripcionTrabInput.touched ||
                  (f.submitted && descripcionTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid':
                  descripcionTrabInput.touched && descripcionTrabInput.valid
              }"
            ></textarea>
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>
          <div class="form-group mb-4">
            <label class="mb-2" for="direccionTrab"
              >Dirección del establecimiento (Opcional)</label
            >
            <input
              placeholder="Gdor. Deloqui. Ushuaia, Tierra del Fuego."
              type="text"
              class="form-control"
              id="direccionTrab"
              name="direccionTrab"
              [(ngModel)]="direccionTrab"
            />
          </div>
          <div class="form-group mb-4">
            <label class="mb-2" for="urlTrab ">Url de la imagen</label>
            <input
              placeholder="https://ibb.co/qCMkTyp"
              type="urlTrab"
              class="form-control"
              id="urlExperiencia"
              name="urlTrab"
              [(ngModel)]="urlTrab"
              required
              #urlTrabInput="ngModel"
              [ngClass]="{
                'is-invalid':
                  urlTrabInput.touched || (f.submitted && urlTrabInput.invalid)
              }"
              [ngClass]="{
                'is-valid': urlTrabInput.touched && urlTrabInput.valid
              }"
            />
            <div class="invalid-feedback">Este campo es requerido.</div>
          </div>
          <div class="row justify-content-center align-items-center mb-3 pt-3">
            <div class="col-6">
              <a href="#experiencia" class="btn btn-outline-volver col-6">
                <i class="fa-solid fa-angle-left"></i> Volver</a
              >
            </div>
            <div class="col-6">
              <button class="btn btn-outline-success col-6 pt-2">
                <i class="fa-solid fa-plus"></i> Crear
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
